<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fanyafeng.laugh" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="爆笑女神"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="爆笑女神"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VideoDisplayActivity"
            android:label="@string/title_activity_video_display"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BaseNoActionbarActivity"
            android:label="@string/title_activity_base_no_actionbar"
            android:screenOrientation="portrait" />
        >
        <activity
            android:name=".activity.VideoListActivity"
            android:label="@string/title_activity_video_list"
            android:parentActivityName=".activity.BaseNoActionbarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fanyafeng.laugh.activity.BaseNoActionbarActivity" />
        </activity>
    </application>

</manifest>
